<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright:
      <p class="text-dark">Mareks Lipnickis</p>
    </div>
  </footer>
  <div id="template">
    <div class="keywords"> 
    function
    break
    case
    catch
    continue
    debugger
    default
    delete
    do
    else
    finally
    for
    function
    if
    in
    instanceof
    new
    return
    switch
    this
    throw
    try
    typeof
    var
    void
    while
    with
    case
    catch
    const
    debugger
    default
    do
    enum
    export
    extends
    finally
    import
    super
    switch
    throw
    try
    abstract
    boolean
    byte
    case
    catch
    char
    class
    const
    debugger
    default
    do
    double
    enum
    export
    extends
    final
    finally
    float
    goto
    implements
    import
    instanceof
    int
    interface
    long
    native
    package
    private
    protected
    public
    short
    static
    super
    switch
    synchronized
    throw
    throws
    transient
    try
    volatile
    abstract
    boolean
    byte
    char
    class
    const
    debugger
    double
    enum
    export
    extends
    final
    float
    goto
    implements
    import
    int
    interface
    long
    native
    package
    private
    protected
    public
    short
    static
    super
    synchronized
    throws
    transient
    volatile
    class
    enum
    export
    extends
    import
    super
    implements
    interface
    let
    package
    private
    protected
    public
    static
    yield
    </div>
    <div class="colortheme">
    #936565
    #C48686
    #8E574D
    #BA7D67
    #AD713E
    #C69060
    #99701F
    #B59140
    #9B954B
    #BCB23B 
    #808E42
    #9EB25F 
    #539B53
    #75BC75
    #42845D
    #5EAA7D
    #0F8776 
    #00A99D
    #138591
    #4FA4B2
    #0071BC
    #4DA0CE
    #3062AA
    #6291BF
    #5462B5
    #7696DD
    #5E57B5
    #7D7DD8
    #7A5E99
    #9787AD
    #955AA3
    #AC85B5
    #A05A89
    #B780A8
    </div>
    </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
  <script src="/js/script.js"></script>
</body>
</html>